/*FUENTES*/

@font-face{

    font-family: "TrebuchetMS" ;
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;    
}

@font-face{

    font-family: "BebasNeue.otf" ;
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;    
}

@font-face{

    font-family: "Websymbolsregular" ;
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype");
    src: url(fonts/websymbols-regular-webfont.svg) format("svg");
    src: url(fonts/websymbols-regular-webfont.ttf) format("truetype");
    src: url(fonts/websymbols-regular-webfont.woff#websymbolsregular) format("woff");
    font-weight: normal;
    font-style: normal;
}

/*ESTILOS GENERALES*/

*{

    margin: 0px;
    padding: 0px;
    
}

body{

    background: url("../img/pattern.png");
}

.wrap{

    margin: 0px auto;
    width: 1200px;
}

.gear, .icon{

    font-family: "Websymbolsregular";

}

.clearfix{

    float: none;
    clear: both;
}



/*CABECERA*/

#header{

    width: 100%;
    height: 70px;
    background-color: rgb(121, 145, 158);
    font-family: "BebasNeue.otf";
    color: floralwhite;



}

#logo{

    float: left;
    width: 120px;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 20px;
    background-color: sandybrown;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo h3{
    display: block;
    float: left;
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    transition: all 300ms;
}


#logo:hover h3{

    animation: fromright 300ms linear;

}

@keyframes fromright{

from{

        transform: translateX(200%);
}

to{
    transform: translateX(0%);
}





}



#logo .gear{

    display: block;
    float: left;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotate-gear{

    from{

        transform: rotateZ(0deg);

    }

    to{

        transform: rotateZ(360deg);
    }

}

#logo:hover{

    background-color: violet;
    color: floralwhite;
}

#logo:hover .gear{

animation: frombellow 500ms linear;

}

@keyframes frombellow{

    0%{

        transform: translateY(0%);
    }


50%{

    transform: translateY(200%);
}

100%{

    transform: translateY(0%);
}

}

#menu ul{

    list-style: none;
    text-decoration: none;
    margin-left: 720px;

}

#menu > ul > li{


line-height: 70px;
float: left;


}

#menu > ul > li > a{

display: block;
padding-left: 8px;
padding-right: 8px;
color:floralwhite;
font-size: 25px;
text-decoration: none;


}

#menu > ul > li > a:hover{

transform: scale(1.2, 1.2);
color: sandybrown;

}

/*BANNER*/

#banner{

  width: 75%;
  height: 100px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  background: url(../img/bakbaner.png);
  background-position: -550px, -200px;
  margin: 20px auto;
  overflow: hidden;
  animation: backbanner 10s linear;

}

@keyframes backbanner{

from{
    background-position: 0px 0px;

}

to{

    background-position: -550px, -200px;
}

}

#banner h1{

    display: block;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 100px;
    color: floralwhite;
    font-family: "BebasNeue.otf";
    font-size: 30px;
    animation: showtext 5s linear;
    

}

@keyframes showtext{

0%{

    transform: translateX(-150%) scale(5,5);
    opacity: 1;

}

50%{

    transform: translateX(-150%) scale(5,5);
    opacity: 1;
}

75%{

    transform: translateX(-150%) scale(5,5);
    text-shadow: none;
    color: transparent;
    opacity: 0;

}

100%{

    transform: translateX(0%) scale(1,1);
    opacity: 1;
    color: floralwhite;


}

}


/*ESTILOS CARDS*/

.card{

display: block;
float: right;
height: 250px;
width: 210px;
border: 1px solid gray;
overflow: hidden;
margin: 10px;
margin-right: 15px;
margin-top: 40px;
box-shadow: 1px 2px 1px gray;
background: white;
cursor: pointer;
transition: all 300ms;
}

.card:hover{

background-color: rgb(247, 199, 157);


}

.card:hover .icon{

    font-size: 40px;
    color: sandybrown;
    animation: showicon 300ms linear;

}

@keyframes showicon{

    from{

        transform: translateY(-200%);
    }

    to{

        transform: translateY(0%);
    }



}



.card .icon{

display: block;
width: 100%;
height: 40px;
font-size: 20px;
line-height: 40px;
text-align: center;
margin: 0px auto;
transition: all 300ms;

}

.card .category{

    width: 100%;
    height: 50px;
    font-family: "BebasNeue.otf";
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    color: sienna;
    font-weight: bold;
    transition: all 300ms;


}

.card:hover .category{

    animation: showcategory 600ms linear;

}

@keyframes showcategory{

from{

    transform: translateY(-300%);
    

}

to{
    transform: translateY(0%);
    
}

}

.card .description{

    
    font-family: "TrebuchetMS";
    text-align: center;
    margin: 0px auto;
    transition: all 300ms;
    
    

}

.card:hover .description{
    animation: showdescription 400ms linear;


}

@keyframes showdescription{

    from{

        transform: translateX(-200%);
    }

    to{

        transform: translateX(0%);
    }


}

/*ASIDE*/

#lateral{

    width: 300px;
    min-height: 1200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    margin: 20px;
    
}

aside h3{

    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    box-shadow: 0px 1px 0px gray, 1px 2px 1px gray, 2px 3px 0px gray;
    background-color:  rgb(121, 145, 158);
    text-align: center;
    font-size: 20px;
    font-family: "BebasNeue.otf";
    color: floralwhite;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 10px;


}

#search{

    width: 90%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 4px gray inset;
    
}

#lateral input[type="text"]{

width: 90%;
height: 100%;
border: none;
background: transparent;
border-radius: 5px;

}

#lateral input[type="button"]{

height: 30px;
cursor: pointer;
font-size: 15px;
background-color: transparent;
color: brown;
border: none;
border-left: 1px solid gray;
padding-left: 3px;

}

.aside-box{

    width: 90%;
    height: 180px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background-color: white;
    box-shadow: 0px 0px 1px grey, 0px 0px 2px grey, 0px 1px 2px grey inset, 0px 1px 2px grey, 0px 1px 1px grey inset;
}

#login input[type="email"],
#login input[type="password"] {

    display: block;
    margin: 0px auto;
    margin-top: 10px;
    width: 70%;
    height: 25px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px gray inset;
    border-radius: 5px;

}

#login input[type="email"]:focus,
#login input[type="password"]:focus {

    box-shadow: 2px 1px 1px salmon inset;

}

#login #user{

    display: block;
    text-align: center;
    position: absolute;
    margin-left: 15px;
}

#login #password{

    display: block;
    text-align: center;
    position: absolute;
    margin-left: 15px;
    font-size: 22px;
    padding-top: 10px;
}

#login input[type="submit"]{

    display: block;
    text-align: center;
    width: 80px;
    height: 30px;
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    color: floralwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 30px;
    background: linear-gradient( to bottom, rgb(150, 173, 185) 0%,  rgb(150, 173, 185) 100%);
    cursor: pointer;

}

#login input[type="submit"]:hover{


    box-shadow: 0px 0px 3px gray;
    transition: all 300ms;
}

#login a{

    display: block;
    text-decoration: none;
    margin-left: 15px;
    color: saddlebrown;


}

#login a:hover{

   text-decoration: underline;
   color:  rgb(121, 145, 158);

}

#social a{

display: block;
text-decoration: none;
color: black;
font-size: 30px;
margin-top: -50px;
margin-left: 20px;
margin-bottom: 5px;




}

#social{

    height: 160px;
}

#social .overlay{

    display: block;
    height: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 10px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px gray;
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -32px;
    cursor: pointer;
    transform: translateX(-90%);
    opacity: 0;
    transition: all 400ms;

}

#social div:hover .overlay{

    opacity: 1;
    transform: translateX(0%);


}


#articles{

    width: 820px;
    float: left;
}



#articles h2{

    display: block;
    width: 720px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0px 1px 0px gray, 1px 2px 1px gray, 2px 3px 0px gray;
    background-color:  rgb(121, 145, 158);
    text-align: center;
    font-size: 20px;
    font-family: "BebasNeue.otf";
    color: floralwhite;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 45px;
    

}



.video-prestoso iframe{

    display: block;
    margin: 0px auto;
    margin-left: 55px;
    margin-top: 20px;

}

article h4{

    margin-left: 55px;
    margin-bottom: 20px;
    color: saddlebrown;
    font-family: "BebasNeue.otf";
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 20px;
    
    
    
}

article p{

    margin-left: 55px;
    margin-bottom: 40px;
    font-family: "Trebuchet MS";
    font-size: 17px;
    word-spacing: 3px;


}

/*FOOTER*/

#footer{

float: left;
width: 100%;
height: 470px;
background-color:  rgb(121, 145, 158); 
color: sandybrown;
overflow: hidden;

}

#footer > div{

    float: left;
    width: 40%;
    height: 240px;
    margin: 20px;
    margin-top: 40px;
    text-align: center;
    color: floralwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

#footer a{

    text-decoration: none;
    color: floralwhite;
    transition: all 300ms;
}

#footer h5{

    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 1px 0px gray, 1px 2px 1px gray, 2px 3px 0px gray;
    background-color: sandybrown;
    text-align: center;
    font-size: 15px;
    font-family: "TrebuchetMS";
    text-transform: uppercase;
    color: floralwhite;
    letter-spacing: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 140px;
   


}

#footer ul{

    text-align: left;
    margin: 30px;
    margin-left: 170px;
    font-size: 15px;

}

#footer ul li{

    margin-top: 10px;
    padding: 5px;
    border-radius: 1px solid coral;
    
}

#footer ul li a{

    display: block;
    height: 30px;
    transition: all 300ms;
   

}

#footer ul li a:hover{

    padding-left: 40px;
    width: 100%;
    color: sandybrown;
   

}

#footer iframe{

    width: 100%;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    
}

.author p{

    display: block;
    position: absolute;
    float: right;
    margin-top: 140px;
    font-family: "TrebuchetMS.ttf";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;

}



